<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script type="text/javascript" src="js/dispatcherController.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    </head>
    <body ng-app="myApp">
        <h1>Virtual Library</h1>
        <p>Welcome {{user != null ? user.displayName : "" }}</p>
        <div ng-controller="userController">
            <a href="#!search">Search books</a>
            <a href="#" ng-click="logout()" ng-show="user!=null" >Logout</a>
            <a href="#!login" ng-show="user==null">Login</a>
            <a href="#!register" ng-show="user==null">Register</a>
            <a href="#!bookmark" ng-show="user!=null">Bookmark</a>
        </div>
        <div ng-view></div>
    </body>
</html>