<h1>My favor</h1>

<div ng-controller="bookmarkController">
      
    <table>
      <tr ng-repeat="bookmark in bookmarks">


        <td>{{ bookmark.bookId }}</td>
        <td><span ng-click="removeBookmark($index)">Delete</span></td>
        
      </tr>
    </table>
  
  
</div>
