<h1>Login</h1>
<form ng-submit="login()" ng-controller="userController" >
    <p>Email:<input type="email" ng-model="email" required/></p>
    <p>Password:<input type="password" ng-model="password" required/></p>
    <input type="submit" value="Login"/>
</form>