<h1>Register</h1>
<form ng-submit="register()" ng-controller="userController" >
    <p>Username:<input type="text" ng-model="name" required/></p>
    <p>Email:<input type="email" ng-model="email" required/></p>
    <p>Password:<input type="password" ng-model="password" required/></p>
    <input type="submit" value="Register"/>
</form>