<h1>Search Books</h1>
<p>{{ message }}</p>

<p><input type="text" ng-model="keyword"/></p>
<p><input type="button" value="Search" ng-click="search()"/></p>

<div ng-controller="bookmarkController">
  
    <table>
      <tr ng-repeat="book in books">
        <input type="hidden" ng-model="bookId" value="{{book.id}}"/>
        <td><img src="{{ book.volumeInfo.imageLinks.thumbnail }}"/></td>
        <td>{{ book.volumeInfo.title }}</td>
        <td><span ng-click="addBookmark($index)">Bookmark</span></td>
        
      </tr>
    </table>
  
  
</div>

